<?xml version='1.0' encoding='utf-8'?>
<widget id="com.advoapp.shotshare" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shotshare</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <content src="http://62.42.95.238:3000/" />
    <allow-navigation href="http://62.42.95.238:3000/*" />
    <allow-navigation href="*" />
    <!--
        <content src="index.html" />


<content src="http://localhost:3000" />
  <allow-navigation href="http://localhost:3000/*" />
  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>

    -->
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
     <!-- app logo -->
    <platform name="android">
        <icon src="AppIcons/android/mipmap-mdpi/androidlogo.png" density="mdpi" />
        <icon src="AppIcons/android/mipmap-hdpi/androidlogo.png" density="hdpi" />
        <icon src="AppIcons/android/mipmap-xhdpi/androidlogo.png" density="xhdpi" />
        <icon src="AppIcons/android/mipmap-xxhdpi/androidlogo.png" density="xxhdpi" />
        <icon src="AppIcons/android/mipmap-xxxhdpi/androidlogo.png" density="xxxhdpi" />
    </platform>

     <!-- SPLASH SCREENS -->
    <platform name="android">
        <splash src="SplashScreens/android/drawable-port-hdpi-screen.png" density="port-hdpi"/>
        <splash src="SplashScreens/android/drawable-port-mdpi-screen.png" density="port-mdpi"/>
        <splash src="SplashScreens/android/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
        <splash src="SplashScreens/android/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
        <splash src="SplashScreens/android/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
    </platform>
    
</widget>
