.IconoFooterBar {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;

}

.MainFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  color: rgb(255, 255, 255);
  text-align: center;
  --bs-bg-opacity: 1;
  background-color: #191645 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.308);

}

.MainFooter .outInfo {
  display: inline-block;
  padding-top: 0.6em;
  text-decoration: none;
  color: #43C6AC;
}

.MainFooter .outInfo2 {
  display: inline-block;
  padding-top: 0.6em;
  text-decoration: none;
  color: #ffffff;
}

.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: #191645;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  width: 100%;
  display: flex;
  padding-left: 0rem;
  margin: auto;

}

.navigation ul li {

  position: relative;
  list-style: none;
  z-index: 1;
  width: 20%;
  height: 20%;
}

.navigation ul li #aStyle {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;

}

.navigation ul li #aStyle .icon {

  position: relative;
  display: block;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: white;
  width: 2.8em;
  height: 2.8em;
  padding-top: 0.2em;
  border-radius: 50%;

}

.navigation ul li.active #aStyle .icon {
  opacity: 0;
  visibility: hidden;
}

.navigation ul li #aStyle .text {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 00.5s;
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;


}

.navigation ul li.active #aStyle .text {
  color: #43C6AC;
  opacity: 1;
  transform: translateY(-2px);
  visibility: visible;

}



@media only screen and (min-width: 412px) {
  /* For s10+: */


}


@media only screen and (max-height: 500px) {

  .MainFooter {
    opacity: 0;
    visibility: hidden;
  }

  .navigation {
    opacity: 0;
    visibility: hidden;
  }


}


@media only screen and (min-width: 800px) {

  /* For tablets: */
  .navigation ul li.active #aStyle .icon {
    opacity: 1;
    background-color: #43C6AC;
    border-radius: 50%;
    border: 0.2em solid #ffffff;
    transform: translateY(-40px);
    visibility: visible;
  }

  .navigation ul li.active #aStyle .text {
    color: #43C6AC;
    opacity: 1;
    transform: translateY(20px);

  }
}